<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
  <link rel="stylesheet" th:href="@{/css/prularia.css}">
</head>
<body>
<div>
  <img th:src="@{/images/logo_prularia_zwart.png}" alt="prularia_logo">
</div>
<h1>Welkom in het Magazijn</h1>
<div th:if="${geenVolgendeBestelling}" th:class="fout">Geen volgende bestelling beschikbaar.</div>
<div th:if="${param.uitgaandeLeveringsId}" th:class="boodschap" th:text="|De bestelling is succesvol met uitgaande leverings id: ${param.uitgaandeLeveringsId}.|"></div>
<a th:href="@{/bestelling/nieuw}"><button>Nieuwe bestelling</button></a>

</body>
</html>